{% extends 'base.html' %}

{% block content %}

  <form method="POST">
    <h1>Create a User</h1>
    <label>First Name
      <input type="text" name="first_name" placeholder="Enter a first name" required>
    </label>
    <label>Last Name
      <input type="text" name="last_name" placeholder="Enter a last name" required>
    </label>
    <label>Image URL
      <input type="text" name="img_url" placeholder="Provide an image of this user">
    </label>
    <button>Add</button>
  </form>

{% endblock %}